/*ALL START*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}


.hvid {
    color: white;
}

.stortekst {
    font-size: 40px;
}

.overskrift {
    margin: auto;
    text-align: center;
}

.green {
    color: #21C152;
}

.overskrift2 {
    font-size: 15px;
}


/*ALL SLUT*/

/*HEADER START*/

header {
    background-image: url("../images/Headerpic.jpg");
    background-position: left top;
    background-size: 100%;
    background-repeat: no-repeat;
    height: auto;
    min-height: 200px;
}

.logo {
    width: 40%;
    height: auto;
    margin: 15px;
}

.menuting {
    display: block;
    margin: 10px;

}

.topnav {
    border-bottom: 2px black solid;

}



/*HEADER SLUT*/

/*PORTFOLIO START*/

#gul {
    color: #FFCF03;
}

.op {
    color: white;
    background-color: #FFCF03;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    border-radius: 7px;
}


.seminblog2 {
 display: block;
    width: 60%;
    margin: auto;
    margin-bottom: 50px;
}


.containerforside a {
    text-decoration: none;
}

.seminblog {
 height: auto;
    width: 100%;
}

.containerforside {
    display: flex;
    width: 90%;
    margin: auto;
    flex-direction: column;
}

.mereomcontainer {
    display: flex;
    flex-direction: column;
}

.mereomcontainer article {
    flex: 1;
}


.kidforside {
    width: 500px;
    margin: auto;
    border: 2px #FFCF03 solid;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 500px;
    position: relative;
}

.kidforside:hover {
    background-color: #FFCF03;
}

.kidforside:hover img {
    transform: scale(1.1);

}

.kidforside img {
    margin: auto;
    width: 80%;
    display: block;
    margin-top: 30px;
    margin-bottom: 30px;
    transition: all .2s ease-in-out;
}

.kidforside p {
    text-align: center;
    display: block;
}

#toej {
    margin-top: 30%;
}

/*PORTFOLIO SLUT*/

/*OM MIG START*/

.noundermargin {
    margin-bottom: 0;
}

.migbillede {
    width: 100%;
    border-radius: 13px;
    margin: auto;
    display: block;
    margin-top: 50px;
    flex: 1;
    border: #21C152 2px solid;
}

.ommigcontainer {
    display: flex;
    margin: auto;
    width: 80%;
    flex-direction: column;
}

.cv {
    flex: 1;
}

.hentcvknap {
    display: block;
    margin: auto;
    width: 60%;
    margin-top: 30px;
}


.hvemcontainer {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
}

.hvemkid {
    flex: 1;
    width: 100%;
    margin: auto;
}

.hvempic {
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 30px;
}

.hvemoverskrift {
    font-size: 25px;
    text-align: center;
    margin-top: 30px;
}

.hvemtekst {
    font-size: 15px;
    line-height: 25px;
}

article .hvemtekst {
    width: 80%;
    margin: auto;
}

.mereom {
    font-size: 40px;
    margin-bottom: 50px;
}

.icon1 {
    width: 10%;
    height: auto;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    display: none;
}

.minejobs {
    font-size: 25px;
    margin: 30px 0;
}

.mereom1img {
    width: 60%;
    display: block;
    margin: auto;
    margin-bottom: 60px;
}


/*SKILLBAR STUFF START*/

.skillcontainer {
    display: flex;
    width: 80%;
    margin: auto;
    flex-direction: column;
}

.skill1,
.skill2 {
    flex: 1;
}

.skillbar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;

}

.skills {
    text-align: right;
    padding-right: 20px;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}


.htmlogcss {
    width: 75%;
    background-color: #21C152;
}

.js {
    width: 5%;
    background-color: #21C152;
}

.photoshop {
    width: 55%;
    background-color: #21C152;
}

.illustrator {
    width: 55%;
    background-color: #21C152;
}

.xd {
    width: 90%;
    background-color: #21C152;
}

.wordpress {
    width: 60%;
    background-color: #21C152;
}

.id {
    width: 15%;
    background-color: #21C152;
}

.fun {
    width: 95%;
    background-color: #21C152;
}

.bored {
    width: 100%;
    background-color: #21C152;
    animation: infinite 0.5s;
    animation-name: bored;
}

@keyframes bored {
    0% {
        background-color: red;
    }
    20% {
        background-color: pink;
    }
    40% {
        background-color: #11c6f3;
    }
    60% {
        background-color: lime;
    }
    80% {
        background-color: yellow;
    }
    100% {
        background-color: orange;
    }

    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}



.skillting {
    width: 100%;
    display: block;
    margin: auto;
    font-weight: bold;

}

.skillting h3 {
    width: 80%;
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 30px;
}

.skillting h3 {
    text-align: left;
}




/*SKILLBAR STUFF SLUT*/

/*OM MIG SLUT*/

/*KONTAKT START*/

#red {
    color: #FF2F2F;
}

.overskrift #red {
    padding: 30px;
    font-size: 40px;
}

.kontaktstor {
    display: inline-block;
    font-size: 31px;
}


.redbackground {
    background-color: #f6504c;
    padding-bottom: 20px;


}

.redbackground h3 {
    padding-top: 30px;
    margin-bottom: 30px;
    display: block;

}

.form {
    margin-bottom: 30px;
}

.form input {
    display: block;
    background-color: #f6504c;
    border: white 2px solid;
    border-radius: 20px;
    padding: 15px;
    margin: auto;
    width: 80%;
    color: white;
    font-size: 23px;
    margin-bottom: 10px;

}

.form textarea {
    display: block;
    margin: auto;
    background-color: #f6504c;
    border: white solid 2px;
    border-radius: 20px;
    padding: 15px;
    width: 80%;
    color: white;
    font-size: 23px;
    margin-bottom: 10px;
}

#formknap {
    border-radius: 45px;
    width: 60%;
    margin-bottom: 10px;
    display: block;
}

input::placeholder ,
textarea::placeholder {
    color: white;
}

.hr {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: black thin solid;
}

.kontaktcontainer {
    display: flex;
    flex-direction: column;
    margin: 30px 0;
}

.kontaktkid {
    flex: 1;
}


.socialcontainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
}

.socialkid {
    flex: 1;
    align-self: center;
    margin: auto;
    margin-bottom: 40px;
}

.kontaktinfo {
    width: 80%;
    display: block;
    margin: auto;
    text-align: center;
}

.socialcontainer h3 {
    margin-bottom: 30px;
}

.kontaktinfo p {
    color: black;
}

.kontaktinfo a {
    text-decoration: none;
    transition: .3s;
}

.kontaktinfo a:hover {
    font-size: 20px;
}

.kontaktcontainer h3 {
    margin-bottom: 50px;
}

.kontaktinfo h1 {
    display: inline-block;
    font-size: 31px;
}


/*IDE FRA COMPETA START  -link-*/

.skifttak {


    font-size: 25px;
    width: 80%;
    padding: 30px 0px;
    margin: auto;
    padding-left: 15%;

}

.skiftes {
    display: inline-block;
}


.skiftes span:nth-child(2) {
    animation-delay: 3s;
    color: white;
}

.skiftes span:nth-child(3) {
    animation-delay: 6s;
    color: white;
}

.skiftes span:nth-child(4) {
    animation-delay: 9s;
    color: white;
}

.skiftes span {
    position: absolute;
    opacity: 0;
    color: white;
    animation: wowowow 12s linear infinite 0s;
}

@keyframes wowowow {
    0% {
        opacity: 0;
    }
    2% {
        opacity: 0;
        -webkit-transform: translateY(-55px);
    }
    5% {
        opacity: 1;
        -webkit-transform: translateY(-25px);
    }
    17% {
        opacity: 1;
        -webkit-transform: translateY(-25px);
    }
    20% {
        opacity: 0;
        -webkit-transform: translateY(5px);
    }
    80% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

/*IDE FRA COMPETA SLUT*/

/*KONTAKT SLUT*/

/*OPGAVESIDEN START*/

.orange {
    color: #FF9D00;
}

.opgavefakta {

    font-size: 20px;
    margin-top: 5px;
}

.opgavefaktabox {
    width: 80%;
    padding: 20px;
    position: static;
    background-color: #FF9D00;
    right: 3%;
    color: white;
    margin: auto;

}

.opgavefaktabox p {
    font-size: 14px;
}

.faktabox {
    width: 100%;
    display: block;
    margin: auto;
    margin-top: 30px;
}



.opgaven {
    width: 100%;
    display: block;
    line-height: 25px;
}

.artiklen {
    width: 80%;
    display: block;
    margin: auto;
}

.opgavebilleder {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
}

.opgaveoverskrift {
    font-size: 50px;

}

.opgaven img {
    margin: 30px 0;
}


.opgavefaktabox a:visited {
    color: white;
}

.opgavefaktabox a {
    text-decoration: none;
    color: white;
}

.opgavefaktabox a:hover {
    text-decoration: underline;
}


.faktaopgavebox {
    width: 100%;
    display: block;
    margin: auto;
    background-color: #FF9D00;
}

.app {
    width: 30%;
}

.refleksion {
    width: 60%;
    display: block;
}

.artikel4 {
    width: 80%;
    margin: auto;
    display: block;
    margin-top: 50px;
}

.refleksion h3 {
    font-size: 40px;
    
}


/*OPGAVESIDEN SLUT*/

/*FOOTER START*/

footer hr {
    width: 80%;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border: black thin solid;

}

footer h4 {
    margin: auto;
    display: block;
    text-align: center;
    font-size: 15px;
}

footer h3 {

    text-align: center;
}

/*FOOTER SLUT*/

/* taget fra w3 schools START (er redigeret i af mig)*/

.topnav {
    overflow: hidden;
    border: thin black solid;
}

.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 17px;
    height: auto;
}

.icon {
    transition: 0.3s;
}



.menutop {
    margin-top: 80px;
}



.topnav .icon {
    display: none;
}


.container {
    display: inline-block;
    cursor: pointer;
    padding: 10px;
    background-color: white;
    border-radius: 15px;


}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}


/*Fra w3schools SLUT*/

/* LILLE MOBILE TIL PORTFOLIO */

@media screen and (max-width: 600px) {

    .kidforside {
        width: 90%;
        height: auto;
    }

    .op {
        position: relative;
    }

    header {
        height: auto;
    }


}

/*MOBILE fra w3 schools */

@media screen and (max-width: 768px) {

    /*Fra w3schools START*/
    .topnav a {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    /*Fra w3schools SLUT*/
}


/*TABLET SIZE*/

@media screen and (min-width: 767px) {


    /*  HEADER START  */
    
    .menutop {
        margin-top: 10px;
    }

    header {
        min-height: 450px;
    }

    .logo {
        width: 30%;
    }

    /*  HEADER SLUT  */
    /*PORTFOLIO START*/
    .containerforside {
        flex-direction: row;
        width: 80%;
        align-content: flex-start;
        justify-content: space-around;
        flex-wrap: wrap;

    }

    .kidforside img {
        margin: auto;
        width: 80%;
        margin-top: 30px;
    }

    .kidforside {
        width: 40%;

        margin: 15px;
        height: 320px;
    }


    .seminblog2 {
        width: 40%;
    }


    /*PORTFOLIO SLUT */
    /* OM MIG START */
    .hentcvknap {
        width: 40%;
    }

    .minejobs {
        font-size: 35px;
    }

    .migbillede {
        width: 60%;
        margin-bottom: 50px;
        border-radius: 30px;
    }


    /* OM MIG SLUT */
    /*    KONTAKT START*/
    .form input {
        display: inline-block;
    }


    .skifttak,
    skifttak span {
        font-size: 35px;
    }

    .form input {
        margin: auto;
        width: 100%;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .form {
        width: 80%;
        margin: auto;
    }

    .form textarea {
        width: 100%;
    }

    #formknap {
        width: 60%;
        margin: auto;
        display: block;
    }

    .redbackground {
        padding-top: 30px;
    }

    .kontaktinfo {
        margin: auto;
        width: 30%;
        text-align: center;
        margin-bottom: 30px;
        font-size: 20px;

    }


    /*    KONTAKT SLUT   */
    
    /* OPGAVESIDER START */
    
    .opgavefaktabox {
        position: static;
    }

    .artiklen {
        width: 80%;
        margin-top: 30px;
    }

    .opgaven {
        width: 100%;
    }

    /* OPGAVESIDER SLUT */
}


/* STOR TABLET PORTFOLIO */

@media screen and (min-width: 900px) {

    header {
        height: 550px;
    }

    .kidforside {
        height: 350px;
    }


}


/*WEB SIZE*/

@media screen and (min-width: 1024px) {

    /*   HEADER START */
    .menutop {
        margin-top: 10px;
    }

    .topnav {
        text-align: center;
    }

    header {
        min-height: 610px;
    }

    .logo {
        width: 25%;
    }


    /*    HEADER SLUT*/
    /*PORTFOLIO START*/
    .kidforside {
        width: 25%;
        height: 300px;
    }

    .seminblog2 {
        width: 20%;
    }


    /*PORTFOLIO SLUT*/
    /* OM MIG START*/
    .ommigcontainer {
        flex-direction: row;

        width: 90%;
        margin-top: 50px;
    }

    .migbillede {
        flex: 0;
        width: 50%;
        height: auto;
        margin: 0 30px 0 0;
        align-self: center;
    }

    .cv {
        margin-left: 30px;
        width: 50%;
        margin: auto 0;

    }

    .hvemcontainer {
        flex-direction: row;
    }

    .mereomcontainer {
        flex-direction: row;
        width: 80%;
        margin: auto;
    }

    .mereomcontainer article {
        width: 40%;
    }

    .mereom {
        display: block;
    }

    .skillcontainer {
        flex-direction: row;

    }

    .skill1 {
        padding: 50px;
        padding-top: 0;

    }

    .skill2 {
        padding: 50px;

        height: 100%;
        margin-top: 0;
        margin-right: 0;
        padding-top: 0;
    }

    .skillting h3 {
        padding-left: 50px;
    }

    .hentcvknap {
        display: inline-block;
        margin: auto;
        margin-top: 50px;
        width: 30%;
        float: right;


    }

    .cvknaphent {
        margin: auto 10px 10px auto;
        display: block;
        width: 10%;
        float: right;
    }

    /* OM MIG SLUT*/
    
    
    /*KONTAKT START*/
    
    .form input {
        display: inline-block;
        width: 46%;
    }


    #brr {
        display: none;
    }

    .woops {
        display: inline-block;
        width: 6%;
    }

    .bla {
        width: 60%;
        display: block;
        margin: auto;
    }

    .form textarea {
        width: 60%;
    }

    .kontaktcontainer hr {
        display: none;
    }

    .kontaktcontainer {
        flex-direction: row;
        width: 80%;
        margin: auto;
    }

    .socialcontainer {
        flex-direction: row;
        flex-wrap: wrap;
    }


    .kontaktcontainer h3 {
        width: 100%;
        text-align: center;
    }


    .kontaktkid {
        width: 20%;
    }

    .kontaktinfo {
        text-align: left;
        margin-top: 25px;
        display: inline-block;
    }

    .kontaktinfo p {
        font-size: 30px;
    }

    .kontaktstor {
        display: block;
        text-align: center;
        width: 80%;
        margin: auto;
        margin-top: 30px;
    }

    .vl {
        border-left: 3px solid black;
        height: 300px;
        margin-top: 30px;
    }

    .skifttak {
        padding-left: 300px;
    }

    .socialkid {
        flex: 0;
    }

    .socialkid img {
        width: 100px;
    }



    /* KONTAKT SLUT*/
    /* OPGAVERNE START */
    .artiklen {
        width: 90%;
    }

    .opgaven {
        width: 70%;
    }


}
    /* OPGAVERNE SLUT */


/* STOR WEB PGA HEADER */

@media screen and (min-width: 1340px) {
    header {
        min-height: 800px;
    }

    .kidforside {
        height: 370px;
    }
}

/*ANIMATION TIL KONTAKTSIDE*/

@keyframes wowowow {
        0% {
            opacity: 0;
        }
        2% {
            opacity: 0;
            transform: translateY(-62px);
        }
        5% {
            opacity: 1;
            transform: translateY(-32px);
        }
        17% {
            opacity: 1;
            transform: translateY(-32px);
        }
        20% {
            opacity: 0;
            transform: translateY(-2px);
        }
        80% {
            opacity: 0;
        }
        100% {
            opacity: 0;
        }
    }
